doctype html
html
  head
    title
    style.
      .container{
        width: 20%;
        margin: auto;
        text-align: center;
      }
      input, button{
        border: none;
        width: 100%;
        padding: 5px 0;
        outline: 0;
        display: block;
        margin: 10px auto;
        border-bottom: 1px solid #ccc;
      }
      
      button{
        color: white;
        cursor: pointer;
        background: black;
      }
      
  body
    .container
      block content
